<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="stylesheet" href="/css/style.css" type="text/css"/>
        <title>Anmol Burmy</title>
    </head>
    <body>
        <div id="heading">
            <h1>Anmol Burmy</h1>
        </div>

        <div class="center">
            <img src="/imgs/anmol.PNG" width="100%" height="100%" alt="Anmol Burmy" />
            <h1>Frontend Developer</h1>
            <p>
                A Computer Science student at San Francisco State University who is passionate about becoming a Front-end
                Developer. I love creating things on the web and be very detailed with them. I aspire toward a career that will
                allow me to channel my creativity through crafting beautiful software and engaging experiences.
            </p>
        </div>
    </body>
</html>
