<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="stylesheet" href="/css/style.css" type="text/css"/>
        <title>Joshua Miranda</title>
    </head>
    <body>
        <div id="heading">
            <h1>Joshua Miranda</h1>   
        </div>
        
        <div class="center">
            <img src="/imgs/josh.png" width="100%" height="100%" alt="Joshua Miranda" >
            <h2>Frontend/Backend Developer</h2>
            <p>Hey guys, my name is Josh! I am a fourth year Computer Science student at SFSU where I enjoy 
                            learning all of the technicalities that has to do with software engineering. I thrive in the 
                            situations where both my peers and I can combine our knowledge and learn new things off one 
                            another to help reach outstanding final products. 
            </p><br><br>
        </div>
    </body>
</html>