<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="stylesheet" href="/css/style.css" type="text/css"/>
        <title>Rasul Imanov</title>
    </head>
    <body>
        <div id="heading">
            <h1>Rasul Imanov</h1>
        </div>
        <div class="center">
        <img src="/imgs/rasul.jpg" width="100%" height="100%" alt="Rasul Imanov" />
          <h1>Frontend/Backend Developer</h1>
          <p>Proactive and results-driven full-stack developer actively learning new technology stacks 
            and taking on challenging tasks in order to produce the most optimal code for the given circumstance.
          </p>
        </div>
    </body>
</html>
