.post-container {
    margin-top: 60px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.post-card {
    position: relative;
    width: 340px;
    height: 450px;
    display: flex;
    flex-direction: column;
    background: #ffffff;
    transition: 0.25s ease;
    margin: 30px;
    font-size: 22px;
    text-align: left;
    box-shadow: 5px 5px 24px 15px rgba(0, 0, 0, 0.04);
    border-radius: 20px;
    cursor: pointer;
    overflow: hidden;
}
.post-image {
    max-width: 100%;
    height: 55%;
    vertical-align: top;
    position: relative;
    border-radius: 20px;
}

.post-price-container {
    background: #f83955;
    padding: 10px;
    width: 20%;
    border-radius: 10px;
    color: #ffffff;
    position: absolute;
    margin: 15px;
}
.post-price {
    padding-top: 3px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.post-card:hover {
    transform: scale(1.015);
    box-shadow: 5px 5px 24px 10px rgba(0, 0, 0, 0.1);
}
.post-info-container {
    display: flex;
    flex-direction: column;
    padding: 20px;
    justify-content: center;
}
.post-caption {
    font-size: 26px;
    font-weight: bold;
}
.post-desc {
    padding: 15px 0 0 5px;
    font-size: 20px;
    color: #696666;
}
.post-date {
    font-size: 20px;
    position: absolute;
    bottom: 15px;
    right: 100px;
}
.search {
    position: relative;
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
}

/* .search-text {
    box-shadow: 5px 5px 24px 5px rgba(0, 0, 0, 0.04);
    border-radius: 10px 0px 0px 10px;
    border: 2px solid #ffffff;
    background: #ffffff;
    margin: 15px 0 15px 0;
    line-height: 45px;
    width: 30%;
    padding: 0 22px;
    font-size: 18px;
    font-family: "Josefin Sans", sans-serif;
} */
.search-text {
    box-shadow: 5px 5px 24px 5px rgba(0, 0, 0, 0.04);
    border: none;
    background: #ffffff;
    margin: 15px 10px 15px 10px;
    line-height: 45px;
    width: 30%;
    padding: 0 22px;
    font-size: 18px;
    font-family: "Josefin Sans", sans-serif;
    transition: 0.25s ease;
}

.search-price {
    box-shadow: 5px 5px 24px 5px rgba(0, 0, 0, 0.04);
    border: none;
    background: #ffffff;
    margin: 15px 10px 15px 10px;
    line-height: 45px;
    width: 10%;
    padding: 0 22px;
    font-size: 18px;
    font-family: "Josefin Sans", sans-serif;
    transition: 0.25s ease;
}

.search-text:hover,
.search-price:hover {
    background: #f839561a;
    border: none;
    /* border: 2px solid #f83955; */
}
.search-text:focus,
.search-price:focus {
    outline: none;
    /* border: 2px solid #f83955; */
}

.search-button {
    border: 2px solid #f83955;
    background: #f83955;
    color: #ffffff;
    text-align: center;
    cursor: pointer;
    font-size: 22px;
    margin: 15px 10px 15px 10px;
    width: 170px;
    box-shadow: 5px 5px 24px 5px rgba(0, 0, 0, 0.04);
    font-family: "Josefin Sans", sans-serif;
}
