html,
body {
    display: flex;
    flex-direction: column;
    justify-content: center;

    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

a {
    text-decoration: none;
    color: #000000;
    cursor: pointer;
}

#heading {
    text-align: center;
    margin: 30px 0 40px 0;
}

#team {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
}

.member {
    width: 450px;
    height: 100px;
    margin: 30px;
    font-size: 18px;
    border: 2px rgb(0, 0, 0) solid;
    transition: 0.25s ease;
}

.member:hover {
    box-shadow: 0px 0px rgba(0, 0, 0, 0);
    border: 2px #f33d3d dashed;
    color: #f52626;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 30%;
}
