<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="stylesheet" href="/css/style.css" type="text/css" />
        <title>Alex Shirazi</title>
    </head>
    <body>
        <div id="heading">
            <h1>Alex Shirazi</h1>
        </div>

        <div class="center">
            <img src="/imgs/alex.jpg" alt="Alex Shirazi" width="100%" height="100%" />
            <h2>Frontend/Backend Developer</h2>
            <p>
                I am a full stack developer interested in learning new technologies introduced to the computer science industry
                and working with others to create beautiful products.
            </p>
            <br /><br />
        </div>
    </body>
</html>
