html,
body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background: linear-gradient(#141e30, #243b55);
    font-family: 'Kumbh Sans', sans-serif;
    color: #ffffff;
}

a {
    text-decoration: none;
    color: #ffffff;
    cursor: pointer;
}

#heading {
    text-align: center;
    margin: 30px 0 40px 0;
    color: #ffffff;
}

#team {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
    color: #ffffff;
}

.member {
    width: 450px;
    height: 100px;
    margin: 30px;
    font-size: 18px;
    border: 2px rgb(0, 0, 0) solid;
    transition: 0.25s ease;
    text-align: center;
    color: #ffffff;
}

.member:hover {
    background: rgba(0, 0, 0, .5);
    box-sizing: border-box;
    box-shadow: 0 15px 25px rgba(0, 0, 0, .6);
    border: 2px #f33d3d dashed;
    color: #f52626;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    min-height: 120px;
    max-height: auto;
    width: 30%;
}

.img {
    max-width: 100%;
    height: auto;
}
