.navbar {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    border-bottom: 5px solid #d45341;
    margin-bottom: 50px;
    background: #ffffff;
}

.nav-links {
    margin: 20px;
}
