.upload-card {
    width: 80%;
    background: #ffffff;
    box-shadow: 5px 5px 24px 15px rgba(0, 0, 0, 0.04);
    padding: 30px;
    margin: 30px;
}
.upload-container {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: center;
    margin: 30px 0 30px 0;
    align-items: center;
}
.form-input-select-create {
    box-shadow: 5px 5px 24px 5px rgba(0, 0, 0, 0.04);
    border: 2px solid #0000000e;
    background: #ffffff;
    margin: 15px 10px 15px 10px;
    padding: 20px 26px;
    font-size: 18px;
    font-family: "Josefin Sans", sans-serif;
    transition: 0.14s ease;
    width: 85%;
    color: #696666;
}

.form-input-select-create:hover {
    border: 2px solid #1da699;
}
/* #imgPreview{
    width: 100%;
    max-width: 500px;
    height: auto;
    border-radius: 12px;
    margin: 15px;
  } */

.upload-image {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    width: 50%;
    margin: 30px;
}

#photo {
    display: flex;
    margin: 30px;
    margin-left: auto;
    margin-right: 2cm;
    font-family: "Josefin Sans", sans-serif;
    font-size: 17px;
}

.upload-info {
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-items: center;
    width: 50%;
}
.upload-info-price {
    display: flex;
    flex-direction: row;
}
.upload-info-pref {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-top: 15px;
}

.upload-info-pref > div {
    margin: 15px;
}

.upload-info-pref-heading {
    font-size: 22px;
    padding-bottom: 10px;
    color: #696666;
}

.upload-info-pref-values {
    font-size: 22px;
}

.upload-info-pref-values > input {
    margin-left: 15px;
    margin-right: -3px;
}
#imgPreview {
    /* width: 100%;
    max-width: 500px;
    height: auto;
    margin: 15px; */
    width: 650px;
    vertical-align: middle;
    position: relative;
    height: auto;
    margin: 30px;
    box-shadow: 5px 5px 24px 15px rgba(0, 0, 0, 0.04);
}
#textarea-post {
    resize: none;
    width: 75% !important;
    line-height: 25px;
}

@media only screen and (max-width: 1480px) {
    #imgPreview {
        width: 550px;
    }
}
@media only screen and (max-width: 1400px) {
    .upload-container {
        display: flex;
        flex-direction: column;
        width: 100%;
        justify-content: center;
        margin: 30px 0 30px 0;
        align-items: center;
    }
    #imgPreview {
        width: 900px;
    }
}
