.room-container {
    display: flex;
    justify-content: center;
    padding-top: 50px;
}

.room-detail-container {
    width: 75vw;
}
.room-post-container {
    grid-area: content;
    display: grid;
    grid-gap: 15px;
    grid-template-columns: 2.5fr 1fr;
    grid-template-rows: 1fr;
    grid-template-areas: "photoinfo comments";
    margin: 0 0px 15px 0px;
    justify-content: center;
}

.room-post-card {
    text-align: center;
    background: #ffffff;
    box-shadow: 5px 5px 24px 15px rgba(0, 0, 0, 0.04);
    display: flex;
    flex-direction: column;
    position: relative;
    /* width: 100%; */
}
.room-post-image {
    object-fit: cover;
    width: 100%;
    height: 100%;
    vertical-align: middle;
    position: relative;
    height: -webkit-fill-available;
    border: 2px solid white;
}
.room-back-button {
    padding: 5px 10px;
    border: 2px solid #1da69800;
    color: #1da699;
    cursor: pointer;
    transition: 0.14s ease;
    margin-left: -60px;
}
.room-back-button:hover {
    color: #28bbac;
}

.back-link {
    display: flex;
    height: 50px;
}
.addText {
    display: inline-block; /* inline-block so we can set a width */
    width: 0;
    white-space: nowrap; /* keep text one line */
    direction: rtl; /* change direction so the text overflow on the left */
    color: rgba(255, 255, 255, 0);
    transition: 0.22s ease;
    padding: 12px 45px 0 0;
    transform: translateX(10px); /* put the value you want here */
    pointer-events: none; /* to avoid the hover on the text, remove to see the difference */
}

.back-link:hover .addText {
    color: #1da699;
    transform: translateX(0);
}
.room-info-container {
    background: #ffffff;
    padding: 50px;
    margin-bottom: 50px;
    box-shadow: 5px 5px 24px 15px rgba(0, 0, 0, 0.04);
}
.room-info-container-price {
    background: #ffffff;
    margin: 15px;
    color: #696666;
}
.room-info-container-caption {
    font-size: 35px;
    font-weight: bold;
    padding-bottom: 10px;
}
.room-info-container-desc {
    padding-bottom: 15px;
    font-size: 28px;
    color: #696666;
}

.room-info-main-cont {
    padding-top: 30px;
    font-size: 25px;
    color: #696666;
    padding-bottom: 0px;
}

.user-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    padding-top: 50px;
    width: 100%;
    padding-bottom: 50px;
}

.user-info-plus-back {
    display: flex;
    margin-left: -45px;
}
.user-info-container {
    width: 70vw;
    display: flex;
    flex-direction: column;
    text-align: center;
    background: #ffffff;
    box-shadow: 5px 5px 24px 15px rgba(0, 0, 0, 0.04);
    margin-bottom: 50px;
}

.user-info-main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 50px 50px 25px 50px;
    font-size: 35px;
}

.user-info-main-desc {
    padding: 25px 0 0 0;
    font-size: 26px;
    color: #696666;
    width: 70%;
}

.user-info-sub {
    font-size: 28px;
    padding-left: 100px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    color: #696666;
}
.user-info-sub > li {
    padding: 10px;
}

.user-info-highlight {
    color: #1da699;
}
.user-info-main-cont {
    font-size: 25px;
    color: #696666;
    padding-bottom: 50px;
}

/* Comments */
.room-comments-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    text-align: center;
}

.enter-comments-container {
    display: flex;
    margin-top: 2px;
}
.comment-input {
    box-shadow: 5px 5px 24px 5px rgba(0, 0, 0, 0.04);
    border: 2px solid #ffffff;
    background: #ffffff;
    padding: 20px 25px;
    font-size: 18px;
    font-family: "Josefin Sans", sans-serif;
    transition: 0.14s ease;
    width: 100%;
}

.comment-input:hover {
    border: 2px solid #1da699;
}

.comment-input:focus {
    outline: none;
}

.comment-button {
    border: 2px solid #ffffff;
    background: #ffffff;
    text-align: center;
    color: rgb(0, 0, 0);
    cursor: pointer;
    font-size: 22px;
    padding: 8px 15px 0 15px;
}

.comment-button:hover {
    color: #1da699;
}

.messages {
    /* margin-top: 10px; */
    height: 70vh;
    overflow-y: auto;
    display: flex;
    flex-flow: column-reverse nowrap;
    scroll-behavior: smooth;
}

div[id^="message-"] {
    padding: 15px;
    box-shadow: 5px 5px 24px 15px rgba(0, 0, 0, 0.04);
    background: #ffffff;
    margin: 2px 0 2px 0;
    text-align: left;
    display: grid;
    grid-template-rows: 0.3fr 1fr;
    gap: 20px;
    position: relative;
    grid-template-areas:
        "author created"
        "comment comment";
}

.author-text {
    color: #1da699;
    display: flex;
    align-items: flex-end;
    font-size: 25px;
}

.date-posted {
    display: flex;
    font-size: 18px;
    justify-content: flex-end;
    align-content: center;
    align-items: center;
}

.comment-text {
    width: 380px;
    margin: 0;
    padding: 0 10px 0 10px;
    font-size: 24px;
    grid-area: comment;
    overflow: hidden;
    text-overflow: ellipsis;
}

.user-info-container-posts {
    display: flex;
    flex-direction: row;
    text-align: center;
    flex-wrap: wrap;
    justify-content: center;
    padding-top: 20px;
}
.user-info-posts-heading {
    font-size: 35px;
    padding-bottom: 30px;
}
.user-info-posts-container {
    width: 70%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    padding: 0 15px 0 15px;
    flex-wrap: wrap;
}
.post-delete-button {
    padding: 11px 16px 9px 16px;
    margin: 15px;
    background: #c72306;
    border: 2px solid #c72306;
    color: #ffffff;
    text-align: center;
    cursor: pointer;
    font-size: 22px;
    box-shadow: 5px 5px 24px 5px rgba(0, 0, 0, 0.04);
    font-family: "Josefin Sans", sans-serif;
    transition: 0.14s ease;
    z-index: 5;
    right: 0;
    top: 0;
    position: absolute;
}
.post-delete-button:hover {
    border: 2px solid #eb3c1d;
    background: #eb3c1d;
}
